.about {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: radial-gradient(circle 50vw at 50% 50%, rgba(white, 1) 0%, rgba(white, 0.2) 100%), url('/assets/images/mountain.jpg'), inline('/assets/images/mountain-placeholder.jpg');
  background-size: auto, cover;

  overflow: hidden;

  @include noise;

  &--container {

    position: relative;
    width: 60vw;

    z-index: 1;

    @include media(l) {

      width: rem(600);
    }
  }

  &--image {

    border-radius: 100%;
    width: rem(220);
    height: rem(220);
    margin: rem(40) 0;
  }

  &--text {

    @extend %h2;
    margin-bottom: 1.1em;
    opacity: 0;
  }

  canvas {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.is-in-view .about--text {


    animation: reveal 1s ease;
    animation-fill-mode: forwards;

    @for $i from 1 through 10 {

      &:nth-of-type(#{$i}) {

        animation-delay: $i * 1.3s;
      }
    }
  }
}