.hero {

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

  background: radial-gradient(circle 50vw at 50% 50%, rgba(black, 0.9) 0%, rgba(black, 0.6) 100%), url('/assets/images/galaxy-wallpaper.jpg') center;
  background-size: auto, cover;

  overflow: hidden;

  .background {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  &--headline,
  &--subheadline {

    position: relative;
    width: 60vw;

    color: white;
    z-index: 1;

    @include media(l) {

      width: rem(600);
    }
  }
  
  &--headline {
    
    @extend %h1;

    //margin-bottom: rem(30);
    opacity: 0;
    animation: reveal 1s ease;
    animation-fill-mode: forwards;

    @for $i from 1 through 2 {

      &:nth-of-type(#{$i}) {

        animation-delay: $i * 2s;
      }
    }
  }

  &--subheadline {

    @extend %h2;
  }
}

@keyframes reveal {

  from {

    opacity: 0;
    transform: translate(0, 50%);
  }

  to {

    opacity: 1;
    transform: translate(0, 0);
  }
}