/*
This mixin can be used to set the object-fit:
@include object-fit(contain);
or object-fit and object-position:
@include object-fit(cover, top);
*/
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: avenir-next, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: avenir-next, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }

html {
  font-size: 18px; }

body {
  font-family: avenir-next, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  min-width: 17.77778rem;
  -ms-content-zooming: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }
  body *,
  body *:before,
  body *:after {
    box-sizing: border-box; }

body {
  font-size: 1rem; }

p {
  margin: 0 0; }

a {
  color: inherit; }

hr {
  display: block;
  border: none;
  height: 0.11111rem;
  width: 3.33333rem;
  margin: 0 0 2.66667rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0rem;
  line-height: 1.1; }

ul,
ol {
  margin-bottom: 2.66667rem;
  padding-left: 0; }

/**
 * Super Mega Grid Generator
 * @author: hb@dietaikonauten.com
 **/
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  box-sizing: border-box; }

.row:after {
  content: "";
  display: table;
  clear: both; }

@keyframes breakpoint-s {
  from {
    clip: rect(1px, auto, auto, auto); }
  to {
    clip: rect(0px, auto, auto, auto); } }

@media screen and (min-width: 0) and (max-width: 699px) {
  body {
    animation-name: breakpoint-s; }
  .container\@s {
    width: 15.55556rem;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem; }
  .row\@s {
    margin-left: -0.27778rem;
    margin-right: -0.27778rem; }
    .row\@s:after {
      content: "";
      display: table;
      clear: both; }
  .hide\@s {
    display: none; } }

@media screen and (min-width: 0) and (max-width: 699px) {
  .container {
    max-width: 15.55556rem;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem; }
  .row {
    margin-left: -0.27778rem;
    margin-right: -0.27778rem; }
  .g-0 {
    position: relative;
    float: left;
    width: 0%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-0 {
    margin-left: 0%; }
  .g-pull-0 {
    right: 0%; }
  .g-push-0 {
    left: 100%; }
  .g-1 {
    position: relative;
    float: left;
    width: 8.33333%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-1 {
    margin-left: 8.33333%; }
  .g-pull-1 {
    right: 8.33333%; }
  .g-push-1 {
    left: 91.66667%; }
  .g-2 {
    position: relative;
    float: left;
    width: 16.66667%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-2 {
    margin-left: 16.66667%; }
  .g-pull-2 {
    right: 16.66667%; }
  .g-push-2 {
    left: 83.33333%; }
  .g-3 {
    position: relative;
    float: left;
    width: 25%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-3 {
    margin-left: 25%; }
  .g-pull-3 {
    right: 25%; }
  .g-push-3 {
    left: 75%; }
  .g-4 {
    position: relative;
    float: left;
    width: 33.33333%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-4 {
    margin-left: 33.33333%; }
  .g-pull-4 {
    right: 33.33333%; }
  .g-push-4 {
    left: 66.66667%; }
  .g-5 {
    position: relative;
    float: left;
    width: 41.66667%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-5 {
    margin-left: 41.66667%; }
  .g-pull-5 {
    right: 41.66667%; }
  .g-push-5 {
    left: 58.33333%; }
  .g-6 {
    position: relative;
    float: left;
    width: 50%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-6 {
    margin-left: 50%; }
  .g-pull-6 {
    right: 50%; }
  .g-push-6 {
    left: 50%; }
  .g-7 {
    position: relative;
    float: left;
    width: 58.33333%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-7 {
    margin-left: 58.33333%; }
  .g-pull-7 {
    right: 58.33333%; }
  .g-push-7 {
    left: 41.66667%; }
  .g-8 {
    position: relative;
    float: left;
    width: 66.66667%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-8 {
    margin-left: 66.66667%; }
  .g-pull-8 {
    right: 66.66667%; }
  .g-push-8 {
    left: 33.33333%; }
  .g-9 {
    position: relative;
    float: left;
    width: 75%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-9 {
    margin-left: 75%; }
  .g-pull-9 {
    right: 75%; }
  .g-push-9 {
    left: 25%; }
  .g-10 {
    position: relative;
    float: left;
    width: 83.33333%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-10 {
    margin-left: 83.33333%; }
  .g-pull-10 {
    right: 83.33333%; }
  .g-push-10 {
    left: 16.66667%; }
  .g-11 {
    position: relative;
    float: left;
    width: 91.66667%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-11 {
    margin-left: 91.66667%; }
  .g-pull-11 {
    right: 91.66667%; }
  .g-push-11 {
    left: 8.33333%; }
  .g-12 {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-12 {
    margin-left: 100%; }
  .g-pull-12 {
    right: 100%; }
  .g-push-12 {
    left: 0%; }
  .g-0\@s {
    position: relative;
    float: left;
    width: 0%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-0\@s {
    margin-left: 0%; }
  .g-pull-0\@s {
    right: 0%; }
  .g-push-0\@s {
    left: 100%; }
  .g-1\@s {
    position: relative;
    float: left;
    width: 8.33333%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-1\@s {
    margin-left: 8.33333%; }
  .g-pull-1\@s {
    right: 8.33333%; }
  .g-push-1\@s {
    left: 91.66667%; }
  .g-2\@s {
    position: relative;
    float: left;
    width: 16.66667%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-2\@s {
    margin-left: 16.66667%; }
  .g-pull-2\@s {
    right: 16.66667%; }
  .g-push-2\@s {
    left: 83.33333%; }
  .g-3\@s {
    position: relative;
    float: left;
    width: 25%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-3\@s {
    margin-left: 25%; }
  .g-pull-3\@s {
    right: 25%; }
  .g-push-3\@s {
    left: 75%; }
  .g-4\@s {
    position: relative;
    float: left;
    width: 33.33333%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-4\@s {
    margin-left: 33.33333%; }
  .g-pull-4\@s {
    right: 33.33333%; }
  .g-push-4\@s {
    left: 66.66667%; }
  .g-5\@s {
    position: relative;
    float: left;
    width: 41.66667%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-5\@s {
    margin-left: 41.66667%; }
  .g-pull-5\@s {
    right: 41.66667%; }
  .g-push-5\@s {
    left: 58.33333%; }
  .g-6\@s {
    position: relative;
    float: left;
    width: 50%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-6\@s {
    margin-left: 50%; }
  .g-pull-6\@s {
    right: 50%; }
  .g-push-6\@s {
    left: 50%; }
  .g-7\@s {
    position: relative;
    float: left;
    width: 58.33333%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-7\@s {
    margin-left: 58.33333%; }
  .g-pull-7\@s {
    right: 58.33333%; }
  .g-push-7\@s {
    left: 41.66667%; }
  .g-8\@s {
    position: relative;
    float: left;
    width: 66.66667%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-8\@s {
    margin-left: 66.66667%; }
  .g-pull-8\@s {
    right: 66.66667%; }
  .g-push-8\@s {
    left: 33.33333%; }
  .g-9\@s {
    position: relative;
    float: left;
    width: 75%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-9\@s {
    margin-left: 75%; }
  .g-pull-9\@s {
    right: 75%; }
  .g-push-9\@s {
    left: 25%; }
  .g-10\@s {
    position: relative;
    float: left;
    width: 83.33333%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-10\@s {
    margin-left: 83.33333%; }
  .g-pull-10\@s {
    right: 83.33333%; }
  .g-push-10\@s {
    left: 16.66667%; }
  .g-11\@s {
    position: relative;
    float: left;
    width: 91.66667%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-11\@s {
    margin-left: 91.66667%; }
  .g-pull-11\@s {
    right: 91.66667%; }
  .g-push-11\@s {
    left: 8.33333%; }
  .g-12\@s {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 0.27778rem;
    padding-right: 0.27778rem;
    min-height: 1px; }
  .g-offset-12\@s {
    margin-left: 100%; }
  .g-pull-12\@s {
    right: 100%; }
  .g-push-12\@s {
    left: 0%; }
  .row--flex,
  .row--flex-nowrap,
  .row--flex-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .row--flex.row:before, .row--flex.row:after,
    .row--flex-nowrap.row:before,
    .row--flex-nowrap.row:after,
    .row--flex-block.row:before,
    .row--flex-block.row:after {
      display: none; }
    .row--flex [class*="g-"],
    .row--flex-nowrap [class*="g-"],
    .row--flex-block [class*="g-"] {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      float: none; }
  .row--flex-block {
    width: calc(100% + 1.2rem); }
  .row--flex-nowrap {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }

@keyframes breakpoint-m {
  from {
    clip: rect(1px, auto, auto, auto); }
  to {
    clip: rect(0px, auto, auto, auto); } }

@media screen and (min-width: 700px) and (max-width: 1000px) {
  body {
    animation-name: breakpoint-m; }
  .container\@m {
    width: 36.66667rem;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem; }
  .row\@m {
    margin-left: -0.55556rem;
    margin-right: -0.55556rem; }
    .row\@m:after {
      content: "";
      display: table;
      clear: both; }
  .hide\@m {
    display: none; } }

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .container {
    max-width: 36.66667rem;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem; }
  .row {
    margin-left: -0.55556rem;
    margin-right: -0.55556rem; }
  .g-0 {
    position: relative;
    float: left;
    width: 0%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-0 {
    margin-left: 0%; }
  .g-pull-0 {
    right: 0%; }
  .g-push-0 {
    left: 100%; }
  .g-1 {
    position: relative;
    float: left;
    width: 8.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-1 {
    margin-left: 8.33333%; }
  .g-pull-1 {
    right: 8.33333%; }
  .g-push-1 {
    left: 91.66667%; }
  .g-2 {
    position: relative;
    float: left;
    width: 16.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-2 {
    margin-left: 16.66667%; }
  .g-pull-2 {
    right: 16.66667%; }
  .g-push-2 {
    left: 83.33333%; }
  .g-3 {
    position: relative;
    float: left;
    width: 25%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-3 {
    margin-left: 25%; }
  .g-pull-3 {
    right: 25%; }
  .g-push-3 {
    left: 75%; }
  .g-4 {
    position: relative;
    float: left;
    width: 33.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-4 {
    margin-left: 33.33333%; }
  .g-pull-4 {
    right: 33.33333%; }
  .g-push-4 {
    left: 66.66667%; }
  .g-5 {
    position: relative;
    float: left;
    width: 41.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-5 {
    margin-left: 41.66667%; }
  .g-pull-5 {
    right: 41.66667%; }
  .g-push-5 {
    left: 58.33333%; }
  .g-6 {
    position: relative;
    float: left;
    width: 50%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-6 {
    margin-left: 50%; }
  .g-pull-6 {
    right: 50%; }
  .g-push-6 {
    left: 50%; }
  .g-7 {
    position: relative;
    float: left;
    width: 58.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-7 {
    margin-left: 58.33333%; }
  .g-pull-7 {
    right: 58.33333%; }
  .g-push-7 {
    left: 41.66667%; }
  .g-8 {
    position: relative;
    float: left;
    width: 66.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-8 {
    margin-left: 66.66667%; }
  .g-pull-8 {
    right: 66.66667%; }
  .g-push-8 {
    left: 33.33333%; }
  .g-9 {
    position: relative;
    float: left;
    width: 75%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-9 {
    margin-left: 75%; }
  .g-pull-9 {
    right: 75%; }
  .g-push-9 {
    left: 25%; }
  .g-10 {
    position: relative;
    float: left;
    width: 83.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-10 {
    margin-left: 83.33333%; }
  .g-pull-10 {
    right: 83.33333%; }
  .g-push-10 {
    left: 16.66667%; }
  .g-11 {
    position: relative;
    float: left;
    width: 91.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-11 {
    margin-left: 91.66667%; }
  .g-pull-11 {
    right: 91.66667%; }
  .g-push-11 {
    left: 8.33333%; }
  .g-12 {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-12 {
    margin-left: 100%; }
  .g-pull-12 {
    right: 100%; }
  .g-push-12 {
    left: 0%; }
  .g-0\@m {
    position: relative;
    float: left;
    width: 0%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-0\@m {
    margin-left: 0%; }
  .g-pull-0\@m {
    right: 0%; }
  .g-push-0\@m {
    left: 100%; }
  .g-1\@m {
    position: relative;
    float: left;
    width: 8.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-1\@m {
    margin-left: 8.33333%; }
  .g-pull-1\@m {
    right: 8.33333%; }
  .g-push-1\@m {
    left: 91.66667%; }
  .g-2\@m {
    position: relative;
    float: left;
    width: 16.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-2\@m {
    margin-left: 16.66667%; }
  .g-pull-2\@m {
    right: 16.66667%; }
  .g-push-2\@m {
    left: 83.33333%; }
  .g-3\@m {
    position: relative;
    float: left;
    width: 25%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-3\@m {
    margin-left: 25%; }
  .g-pull-3\@m {
    right: 25%; }
  .g-push-3\@m {
    left: 75%; }
  .g-4\@m {
    position: relative;
    float: left;
    width: 33.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-4\@m {
    margin-left: 33.33333%; }
  .g-pull-4\@m {
    right: 33.33333%; }
  .g-push-4\@m {
    left: 66.66667%; }
  .g-5\@m {
    position: relative;
    float: left;
    width: 41.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-5\@m {
    margin-left: 41.66667%; }
  .g-pull-5\@m {
    right: 41.66667%; }
  .g-push-5\@m {
    left: 58.33333%; }
  .g-6\@m {
    position: relative;
    float: left;
    width: 50%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-6\@m {
    margin-left: 50%; }
  .g-pull-6\@m {
    right: 50%; }
  .g-push-6\@m {
    left: 50%; }
  .g-7\@m {
    position: relative;
    float: left;
    width: 58.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-7\@m {
    margin-left: 58.33333%; }
  .g-pull-7\@m {
    right: 58.33333%; }
  .g-push-7\@m {
    left: 41.66667%; }
  .g-8\@m {
    position: relative;
    float: left;
    width: 66.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-8\@m {
    margin-left: 66.66667%; }
  .g-pull-8\@m {
    right: 66.66667%; }
  .g-push-8\@m {
    left: 33.33333%; }
  .g-9\@m {
    position: relative;
    float: left;
    width: 75%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-9\@m {
    margin-left: 75%; }
  .g-pull-9\@m {
    right: 75%; }
  .g-push-9\@m {
    left: 25%; }
  .g-10\@m {
    position: relative;
    float: left;
    width: 83.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-10\@m {
    margin-left: 83.33333%; }
  .g-pull-10\@m {
    right: 83.33333%; }
  .g-push-10\@m {
    left: 16.66667%; }
  .g-11\@m {
    position: relative;
    float: left;
    width: 91.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-11\@m {
    margin-left: 91.66667%; }
  .g-pull-11\@m {
    right: 91.66667%; }
  .g-push-11\@m {
    left: 8.33333%; }
  .g-12\@m {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-12\@m {
    margin-left: 100%; }
  .g-pull-12\@m {
    right: 100%; }
  .g-push-12\@m {
    left: 0%; }
  .row--flex,
  .row--flex-nowrap,
  .row--flex-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .row--flex.row:before, .row--flex.row:after,
    .row--flex-nowrap.row:before,
    .row--flex-nowrap.row:after,
    .row--flex-block.row:before,
    .row--flex-block.row:after {
      display: none; }
    .row--flex [class*="g-"],
    .row--flex-nowrap [class*="g-"],
    .row--flex-block [class*="g-"] {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      float: none; }
  .row--flex-block {
    width: calc(100% + 1.2rem); }
  .row--flex-nowrap {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }

@keyframes breakpoint-l {
  from {
    clip: rect(1px, auto, auto, auto); }
  to {
    clip: rect(0px, auto, auto, auto); } }

@media screen and (min-width: 1000px) {
  body {
    animation-name: breakpoint-l; }
  .container\@l {
    width: 960px;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem; }
  .row\@l {
    margin-left: -0.55556rem;
    margin-right: -0.55556rem; }
    .row\@l:after {
      content: "";
      display: table;
      clear: both; }
  .hide\@l {
    display: none; } }

@media screen and (min-width: 1000px) {
  .container {
    max-width: 960px;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem; }
  .row {
    margin-left: -0.55556rem;
    margin-right: -0.55556rem; }
  .g-0 {
    position: relative;
    float: left;
    width: 0%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-0 {
    margin-left: 0%; }
  .g-pull-0 {
    right: 0%; }
  .g-push-0 {
    left: 100%; }
  .g-1 {
    position: relative;
    float: left;
    width: 8.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-1 {
    margin-left: 8.33333%; }
  .g-pull-1 {
    right: 8.33333%; }
  .g-push-1 {
    left: 91.66667%; }
  .g-2 {
    position: relative;
    float: left;
    width: 16.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-2 {
    margin-left: 16.66667%; }
  .g-pull-2 {
    right: 16.66667%; }
  .g-push-2 {
    left: 83.33333%; }
  .g-3 {
    position: relative;
    float: left;
    width: 25%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-3 {
    margin-left: 25%; }
  .g-pull-3 {
    right: 25%; }
  .g-push-3 {
    left: 75%; }
  .g-4 {
    position: relative;
    float: left;
    width: 33.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-4 {
    margin-left: 33.33333%; }
  .g-pull-4 {
    right: 33.33333%; }
  .g-push-4 {
    left: 66.66667%; }
  .g-5 {
    position: relative;
    float: left;
    width: 41.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-5 {
    margin-left: 41.66667%; }
  .g-pull-5 {
    right: 41.66667%; }
  .g-push-5 {
    left: 58.33333%; }
  .g-6 {
    position: relative;
    float: left;
    width: 50%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-6 {
    margin-left: 50%; }
  .g-pull-6 {
    right: 50%; }
  .g-push-6 {
    left: 50%; }
  .g-7 {
    position: relative;
    float: left;
    width: 58.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-7 {
    margin-left: 58.33333%; }
  .g-pull-7 {
    right: 58.33333%; }
  .g-push-7 {
    left: 41.66667%; }
  .g-8 {
    position: relative;
    float: left;
    width: 66.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-8 {
    margin-left: 66.66667%; }
  .g-pull-8 {
    right: 66.66667%; }
  .g-push-8 {
    left: 33.33333%; }
  .g-9 {
    position: relative;
    float: left;
    width: 75%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-9 {
    margin-left: 75%; }
  .g-pull-9 {
    right: 75%; }
  .g-push-9 {
    left: 25%; }
  .g-10 {
    position: relative;
    float: left;
    width: 83.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-10 {
    margin-left: 83.33333%; }
  .g-pull-10 {
    right: 83.33333%; }
  .g-push-10 {
    left: 16.66667%; }
  .g-11 {
    position: relative;
    float: left;
    width: 91.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-11 {
    margin-left: 91.66667%; }
  .g-pull-11 {
    right: 91.66667%; }
  .g-push-11 {
    left: 8.33333%; }
  .g-12 {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-12 {
    margin-left: 100%; }
  .g-pull-12 {
    right: 100%; }
  .g-push-12 {
    left: 0%; }
  .g-0\@l {
    position: relative;
    float: left;
    width: 0%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-0\@l {
    margin-left: 0%; }
  .g-pull-0\@l {
    right: 0%; }
  .g-push-0\@l {
    left: 100%; }
  .g-1\@l {
    position: relative;
    float: left;
    width: 8.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-1\@l {
    margin-left: 8.33333%; }
  .g-pull-1\@l {
    right: 8.33333%; }
  .g-push-1\@l {
    left: 91.66667%; }
  .g-2\@l {
    position: relative;
    float: left;
    width: 16.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-2\@l {
    margin-left: 16.66667%; }
  .g-pull-2\@l {
    right: 16.66667%; }
  .g-push-2\@l {
    left: 83.33333%; }
  .g-3\@l {
    position: relative;
    float: left;
    width: 25%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-3\@l {
    margin-left: 25%; }
  .g-pull-3\@l {
    right: 25%; }
  .g-push-3\@l {
    left: 75%; }
  .g-4\@l {
    position: relative;
    float: left;
    width: 33.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-4\@l {
    margin-left: 33.33333%; }
  .g-pull-4\@l {
    right: 33.33333%; }
  .g-push-4\@l {
    left: 66.66667%; }
  .g-5\@l {
    position: relative;
    float: left;
    width: 41.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-5\@l {
    margin-left: 41.66667%; }
  .g-pull-5\@l {
    right: 41.66667%; }
  .g-push-5\@l {
    left: 58.33333%; }
  .g-6\@l {
    position: relative;
    float: left;
    width: 50%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-6\@l {
    margin-left: 50%; }
  .g-pull-6\@l {
    right: 50%; }
  .g-push-6\@l {
    left: 50%; }
  .g-7\@l {
    position: relative;
    float: left;
    width: 58.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-7\@l {
    margin-left: 58.33333%; }
  .g-pull-7\@l {
    right: 58.33333%; }
  .g-push-7\@l {
    left: 41.66667%; }
  .g-8\@l {
    position: relative;
    float: left;
    width: 66.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-8\@l {
    margin-left: 66.66667%; }
  .g-pull-8\@l {
    right: 66.66667%; }
  .g-push-8\@l {
    left: 33.33333%; }
  .g-9\@l {
    position: relative;
    float: left;
    width: 75%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-9\@l {
    margin-left: 75%; }
  .g-pull-9\@l {
    right: 75%; }
  .g-push-9\@l {
    left: 25%; }
  .g-10\@l {
    position: relative;
    float: left;
    width: 83.33333%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-10\@l {
    margin-left: 83.33333%; }
  .g-pull-10\@l {
    right: 83.33333%; }
  .g-push-10\@l {
    left: 16.66667%; }
  .g-11\@l {
    position: relative;
    float: left;
    width: 91.66667%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-11\@l {
    margin-left: 91.66667%; }
  .g-pull-11\@l {
    right: 91.66667%; }
  .g-push-11\@l {
    left: 8.33333%; }
  .g-12\@l {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 0.55556rem;
    padding-right: 0.55556rem;
    min-height: 1px; }
  .g-offset-12\@l {
    margin-left: 100%; }
  .g-pull-12\@l {
    right: 100%; }
  .g-push-12\@l {
    left: 0%; }
  .row--flex,
  .row--flex-nowrap,
  .row--flex-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .row--flex.row:before, .row--flex.row:after,
    .row--flex-nowrap.row:before,
    .row--flex-nowrap.row:after,
    .row--flex-block.row:before,
    .row--flex-block.row:after {
      display: none; }
    .row--flex [class*="g-"],
    .row--flex-nowrap [class*="g-"],
    .row--flex-block [class*="g-"] {
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      float: none; }
  .row--flex-block {
    width: calc(100% + 1.2rem); }
  .row--flex-nowrap {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }

body {
  animation-duration: 0.001s; }

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

@font-face {
  font-family: "avenir-next";
  src: url("/assets/fonts/avenir-next-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: auto; }

@font-face {
  font-family: "avenir-next";
  src: url("/assets/fonts/avenir-next-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: auto; }

@font-face {
  font-family: "avenir-next";
  src: url("/assets/fonts/avenir-next-thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: auto; }

@font-face {
  font-family: "avenir-next";
  src: url("/assets/fonts/avenir-next-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: auto; }

@font-face {
  font-family: "avenir-next";
  src: url("/assets/fonts/avenir-next-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: auto; }

@font-face {
  font-family: "avenir-next";
  src: url("/assets/fonts/avenir-next-regular.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: auto; }

@font-face {
  font-family: "avenir-next";
  src: url("/assets/fonts/avenir-next-thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-display: auto; }