
.contact {

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-image: url('/assets/images/nebula.jpg'), inline('/assets/images/nebula-placeholder.jpg');
  background-size: cover, cover;
  background-position: center, center;

  overflow: hidden;

  .clouds {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include noise;
  }

  &--image {

    position: relative;
    width: rem(200);
    height: rem(200);
    border-radius: 100%;
    margin-bottom: rem(30);

    z-index: 1;
    opacity: 0;

    @include media(s) {

      width: rem(150);
      height: rem(150);
    }
  }

  .links {

    opacity: 0;
  }

  &--container {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;

    color: white;
    z-index: 1;

    text-align: center;

    @include media(l) {

      width: rem(600);
    }

    p {

      @extend %h2;
      opacity: 0;
    }
  }



  .is-in-view + .contact--container {


    .contact--image {

      animation: zoomIn 1s ease;
      animation-fill-mode: forwards;
      animation-delay: 1s;
    }

    p {

      @for $i from 1 through 10 {

        &:nth-child(#{$i}) {

          animation: zoomIn 1s ease;
          animation-fill-mode: forwards;
          animation-delay: ($i + 1) * 1s;
        }
      }
    }

    .links {

      animation: zoomIn 1s ease;
      animation-fill-mode: forwards;
      animation-delay: 5s;
    }
  }
}