
.contact {

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-image: url('/assets/images/nebula.jpg'), inline('/assets/images/nebula-placeholder.jpg');
  background-size: cover, cover;

  overflow: hidden;

  .clouds {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include noise;
  }

  .image {

    position: relative;
    width: rem(200);
    height: rem(200);
    border-radius: 100%;
    margin-bottom: rem(50);

    z-index: 1;
  }

  .links {

    margin-top: rem(20);
  }

  &--text {

    @extend %h2;

    position: relative;
    width: 60vw;

    color: white;
    z-index: 1;

    @include media(l) {

      width: rem(600);
    }
  }
}